#login {
    width: 100%;
    height: 100vh;
}

#login .card-panel {
    max-width: 500px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*Estilos para los Modales Popups*/

.modalBackGround {
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 10000;
}

.modalPopup {
    background-color: #FFFFFF;
    width: auto;
    /*border: 3px solid #0DA9D0;*/
    border-radius: 12px;
    padding: 0
}

.modalPopup .header {
    background-color: #2FBDF1;
    height: 30px;
    color: White;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


/* label focus color */

.input-field input:focus+label {
    color: #29b6f6 !important;
}



/* icon prefix focus color */

.input-field .prefix.active {
    color: #29b6f6 !important;
}


/* label underline focus color */

.input-field input:focus {
    border-bottom: 1px solid #29b6f6 !important;
    box-shadow: 0 1px 0 0 #29b6f6 !important;
}